<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Meghna One page parallax responsive HTML Template ">

    <meta name="author" content="Muhammad Morshed">

    <title>Meghna</title>

    <!-- Mobile Specific Meta
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png"/>

    <!-- CSS
    ================================================== -->
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="../static/css/animate.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../static/css/owl.carousel.css">
    <!-- Grid Component css -->
    <link rel="stylesheet" href="../static/css/component.css">
    <!-- Slit Slider css -->
    <link rel="stylesheet" href="../static/css/slit-slider.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Media Queries -->
    <link rel="stylesheet" href="../static/css/media-queries.css">

    <!--
    Google Font
    =========================== -->

    <!-- Oswald / Title Font -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <!-- Ubuntu / Body Font -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>

    <!-- Modernizer Script for old Browsers -->
    <script src="../static/js/modernizr-2.6.2.min.js"></script>

    <!-- 引入 ECharts 文件 -->
    <script src="../static/js/echarts.common.js"></script>
    <!--引入 layui-->
    <link rel="stylesheet" href="../static/css/layui.css">


</head>

<body id="body">
<!--
Start Preloader
==================================== -->
<div id="loading-mask">
    <div class="loading-img">
        <img alt="Meghna Preloader" src="../static/img/preloader.gif"/>
    </div>
</div>
<!--
End Preloader
==================================== -->

<!--
Welcome Slider
==================================== -->
<section id="home">

    <div id="slitSlider" class="sl-slider-wrapper">
        <div class="sl-slider">

            <!-- single slide item -->
            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25"
                 data-slice1-scale="2" data-slice2-scale="2">
                <div class="sl-slide-inner">
                    <div class="bg-img bg-img-1"></div>
                    <div class="carousel-caption">
                        <div>
                            <img class="wow fadeInUp" src="../static/img/meghna.png" alt="Meghna">
                            <h2 data-wow-duration="500ms" data-wow-delay="500ms" class="heading animated fadeInRight">
                                Welcome To Meghna</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /single slide item -->

            <!-- single slide item -->
            <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15"
                 data-slice1-scale="1.5" data-slice2-scale="1.5">
                <div class="sl-slide-inner">
                    <div class="bg-img bg-img-2"></div>
                    <div class="carousel-caption">
                        <div>
                            <h2 class="heading animated fadeInDown">Highly Responsive</h2>
                            <h3 class="animated fadeInUp">With all Mejor Browser support including IE 9</h3>
                            <a class="btn btn-green animated fadeInUp" href="#">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /single slide item -->

            <!-- single slide item -->
            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3"
                 data-slice1-scale="2" data-slice2-scale="1">
                <div class="sl-slide-inner">
                    <div class="bg-img bg-img-3"></div>
                    <div class="carousel-caption">
                        <div>
                            <h2 class="heading animated fadeInRight">One Page Parallax HTML Template</h2>
                            <h3 class="animated fadeInLeft">Clean and Professional Design</h3>
                            <a class="btn btn-green animated fadeInUp" href="#">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /single slide item -->

        </div><!-- /sl-slider -->

        <nav id="nav-arrows" class="nav-arrows">
            <span class="nav-arrow-prev">Previous</span>
            <span class="nav-arrow-next">Next</span>
        </nav>

        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
        </nav>

    </div><!-- /slider-wrapper -->
</section>
<!--/#home section-->

<!--
Fixed Navigation
==================================== -->
<header id="navigation" class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->

            <!-- logo -->
            <a class="navbar-brand" href="#body">
                <h1 id="logo">
                    <img src="../static/img/logo-meghna.png" alt="Meghna"/>
                </h1>
            </a>
            <!-- /logo -->
        </div>

        <!-- main nav -->
        <nav class="collapse navbar-collapse navbar-right" role="Navigation">
            <ul id="nav" class="nav navbar-nav">
                <li class="current"><a href="#body">Home</a></li>
                <li><a href="#showcase">Portfolio</a></li>
            </ul>
        </nav>
        <!-- /main nav -->

    </div>
</header>
<!--
End Fixed Navigation
==================================== -->


<!-- Start Portfolio Section
=========================================== -->


<section id="showcase">
    <div class="container">
        <div class="row wow fadeInDown" data-wow-duration="500ms">
            <div class="col-lg-12">

                <!-- section title -->
                <div class="title text-center">
                    <h2>Our <span class="color">Works</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->

                <!-- portfolio item filtering -->
                <div class="portfolio-filter clearfix">
                    <ul class="text-center">
                        <li><a href="javascript:void(0)" class="filter" data-filter="all">全部</a></li>
                        <li><a href="javascript:void(0)" class="filter" data-filter=".app">刚需图</a></li>
                        <li><a href="javascript:void(0)" class="filter" data-filter=".web">软需图</a></li>
                        <li><a href="javascript:void(0)" class="filter" data-filter=".photoshop">走势图</a></li>
                    </ul>
                </div>
                <!-- /portfolio item filtering -->

            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->
    </div>    <!-- end container -->

    <!-- portfolio items -->
    <div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
        <div class="layui-bg-cyan">
            <form action="/">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        Province:<br>
                        <input type="text" name="Province" value="Province">
                    </div>

                    <div class="layui-col-md4">
                        City:<br>
                        <input type="text" name="City" value="City">
                    </div>
                    <div class="layui-col-md4">
                        District:<br>
                        <input type="text" name="District" value="District">
                    </div>
                    <div class="layui-col-md4">
                        Community:<br>
                        <input type="text" name="Community" value="Community">
                        <br>
                    </div>
                    <div class="layui-col-md4">
                        Year:<br>
                        <input type="text" name="Year" value="Year">
                        <br>
                    </div>
                    <div class="layui-col-md4">
                        <button type="button" class="layui-btn layui-btn-normal" data-anim="layui-anim-scaleSpring">
                            <input type="submit" value="Submit" style="background-color:transparent;border:0; ">
                        </button>

                    </div>
                </div>
                <br>
            </form>
        </div>


        <ul id="og-grid" class="og-grid">
            <!--刚需图-->
            <li class="mix app" style="width: 100%;height:300px;margin: auto;">
                <div id="GangMap" style="width: 850px;height:300px;margin: auto;"></div>
                <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var chartDom = document.getElementById('GangMap');
                    var myChart = echarts.init(chartDom, 'dark');
                    var option;

                    option = {
                        title: {
                            text: '堆叠区域图'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
                        },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                boundaryGap: false,
                                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '邮件营销',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [120, 132, 101, 134, 90, 230, 210]
                            },
                            {
                                name: '联盟广告',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [220, 182, 191, 234, 290, 330, 310]
                            },
                            {
                                name: '视频广告',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [150, 232, 201, 154, 190, 330, 410]
                            },
                            {
                                name: '直接访问',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [320, 332, 301, 334, 390, 330, 320]
                            },
                            {
                                name: '搜索引擎',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [820, 932, 901, 934, 1290, 1330, 1320]
                            }
                        ]
                    };

                    option && myChart.setOption(option);
                </script>
            </li>

            <!--软需图-->
            <li class="mix web" style="width: 100%;height:300px;margin: auto;">
                <div id="RuanMap" style="width: 850px;height:300px;margin: auto;"></div>
                <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var chartDom = document.getElementById('RuanMap');
                    var myChart = echarts.init(chartDom, 'dark');
                    var option;

                    option = {
                        title: {
                            text: '堆叠区域图'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#6a7985'
                                }
                            }
                        },
                        legend: {
                            data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
                        },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        grid: {
                            left: '3%',
                            right: '4%',
                            bottom: '3%',
                            containLabel: true
                        },
                        xAxis: [
                            {
                                type: 'category',
                                boundaryGap: false,
                                data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                name: '邮件营销',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [120, 132, 101, 134, 90, 230, 210]
                            },
                            {
                                name: '联盟广告',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [220, 182, 191, 234, 290, 330, 310]
                            },
                            {
                                name: '视频广告',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [150, 232, 201, 154, 190, 330, 410]
                            },
                            {
                                name: '直接访问',
                                type: 'line',
                                stack: '总量',
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [320, 332, 301, 334, 390, 330, 320]
                            },
                            {
                                name: '搜索引擎',
                                type: 'line',
                                stack: '总量',
                                label: {
                                    show: true,
                                    position: 'top'
                                },
                                areaStyle: {},
                                emphasis: {
                                    focus: 'series'
                                },
                                data: [820, 932, 901, 934, 1290, 1330, 1320]
                            }
                        ]
                    };

                    option && myChart.setOption(option);
                </script>
            </li>
            <!-- /single portfolio item -->
        </ul> <!-- end og grid -->

    </div>

    <!-- 走势图 -->
    <div id="runningMap" style="width: 100%;height:400px;margin: auto;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var chartDom = document.getElementById('runningMap');
        var myChart = echarts.init(chartDom, 'dark');
        var option;

        option = {
            title: {
                text: '堆叠区域图'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            legend: {
                data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '邮件营销',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [120, 132, 101, 134, 90, 230, 210]
                },
                {
                    name: '联盟广告',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [220, 182, 191, 234, 290, 330, 310]
                },
                {
                    name: '视频广告',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [150, 232, 201, 154, 190, 330, 410]
                },
                {
                    name: '直接访问',
                    type: 'line',
                    stack: '总量',
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [320, 332, 301, 334, 390, 330, 320]
                },
                {
                    name: '搜索引擎',
                    type: 'line',
                    stack: '总量',
                    label: {
                        show: true,
                        position: 'top'
                    },
                    areaStyle: {},
                    emphasis: {
                        focus: 'series'
                    },
                    data: [820, 932, 901, 934, 1290, 1330, 1320]
                }
            ]
        };

        option && myChart.setOption(option);
    </script>

    <div style="width: 100%;height:400px;margin: auto;">
        <div class="layui-bg-cyan">
            <form action="/">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md4">
                        成交量最高的房型:<br>
                        <input type="text" name="houseHigh" value="houseHigh" readonly="readonly"
                               style="background-color:transparent;border:0;">
                    </div>
                    <div class="layui-col-md4">
                        比例:<br>
                        <input type="text" name="rate" value="rate" readonly="readonly"
                               style="background-color:transparent;border:0;">
                        <br>
                    </div>
                    <div class="layui-col-md4">
                        数量:<br>
                        <input type="text" name="number" value="number" readonly="readonly"
                               style="background-color:transparent;border:0;">
                    </div>
                    <div class="layui-col-md4">
                        总价区间:<br>
                        <input type="text" name="priceBetween" value="priceBetween" readonly="readonly"
                               style="background-color:transparent;border:0;">
                    </div>

                    <div class="layui-col-md4">
                        待定:<br>
                        <input type="text" name="nothing" value="nothing" readonly="readonly"
                               style="background-color:transparent;border:0;">
                        <br>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>

    </div>  <!-- portfolio items wrapper -->

    <div style="width: 100%;height:400px;margin: auto;"></div>
</section>   <!-- End section -->


<!-- Back to Top
============================== -->
<a href="javascript:;" id="scrollUp">
    <i class="fa fa-angle-up fa-2x"></i>
</a>

<!-- end Footer Area
========================================== -->

<!--
Essential Scripts
=====================================-->

<!-- Main jQuery -->
<script src="../static/js/jquery-1.11.0.min.js"></script>
<!-- Bootstrap 3.1 -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Slitslider -->
<script src="../static/js/jquery.slitslider.js"></script>
<script src="../static/js/jquery.ba-cond.min.js"></script>
<!-- Parallax -->
<script src="../static/js/jquery.parallax-1.1.3.js"></script>
<!-- Owl Carousel -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- Portfolio Filtering -->
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- Custom Scrollbar -->
<script src="../static/js/jquery.nicescroll.min.js"></script>
<!-- Jappear js -->
<script src="../static/js/jquery.appear.js"></script>
<!-- Pie Chart -->
<script src="../static/js/easyPieChart.js"></script>
<!-- jQuery Easing -->
<script src="../static/js/jquery.easing-1.3.pack.js"></script>
<!-- tweetie.min -->
<script src="../static/js/tweetie.min.js"></script>

<!-- Highlight menu item -->
<script src="../static/js/jquery.nav.js"></script>
<!-- Sticky Nav -->
<script src="../static/js/jquery.sticky.js"></script>
<!-- Number Counter Script -->
<script src="../static/js/jquery.countTo.js"></script>
<!-- wow.min Script -->
<script src="../static/js/wow.min.js"></script>
<!-- For video responsive -->
<script src="../static/js/jquery.fitvids.js"></script>
<!-- Grid js -->
<script src="../static/js/grid.js"></script>
<!-- Custom js -->
<script src="../static/js/custom.js"></script>


</body>
</html>